body {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    height: 500px;
}

.container {
    padding: 2rem;
    position: absolute;
}

.container_slides {
    position: relative;
}

.container_controls {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.precedente,
.successiva {
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
}

.precedente {
    position: relative;
    top: 10%;
}

.successiva {
    position: relative;
    bottom: 10%;
}

.slide img.active {
    display: block;
}

.slide img:not(img.active) {
    display: none;
}


.precedente:hover,
.successiva:hover {
    cursor: pointer;
}
