img {
    max-width: 100%;
    margin: auto;
}

.container{
    padding: 2rem;
    position: absolute;
}

button {
    border: none;
    background-color: transparent;
}


button:hover{
    cursor: pointer;
}

button > i {
    color: white;
    background-color: black;
    border-radius: 50%;
}

.precedente{
    position: relative;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
}

.successiva{
    position: relative;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
}

